/*
============
GENERAL
============
*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Concert One", cursive;
  background-color: #c2352d;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

section {
  padding: 4em 0 0 0;
}

img {
  max-width: 100%;
}

/*
============
GRID
============
*/

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
}

/*
============
HEADER
============
*/

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-item {
  padding: 0.5em 0;
}

.nav-link {
  color: white;
  padding: 0.5em 2em;
  -webkit-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}

.nav-link:hover {
  color: #08469e;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#header-img {
  width: 70px;
  padding-top: 1em;
}

/*
============
MAIN
============
*/

.main__title {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 480px;
  background-color: #f4f3f4;
  border-radius: 10px;
  -webkit-box-shadow: 9px 9px 17px 0px rgba(0, 0, 0, 0.67);
          box-shadow: 9px 9px 17px 0px rgba(0, 0, 0, 0.67);
}

.main__title-text {
  margin: 0;
  font-size: 3em;
  text-align: center;
  padding: .5em .3em;
}

main {
  margin-top: 75px;
  min-height: 100vh;
  background-image: url("https://www.3djuegos.com/juegos/14037/mario_switch/fotos/maestras/mario_switch-3755928.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
============
OCCUPATIONS
============
*/

.section__title {
  color: white;
  text-align: center;
  text-shadow: 3px 3px 10px black;
}

.section__content {
  background-color: #f4f3f4;
  border-radius: 10px;
  -webkit-box-shadow: 9px 9px 17px 0px rgba(0, 0, 0, 0.67);
          box-shadow: 9px 9px 17px 0px rgba(0, 0, 0, 0.67);
  padding: 1em 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.occupation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.occupation p {
  margin-left: 1em;
}

.occupation i {
  color: #08469e;
}

/*
============
ADVENTURES
============
*/

.section__content--center {
  text-align: center;
}

/*
============
POWER UPS
============
*/

.card {
  border-radius: 10px;
  background-color: #f4f3f4;
  text-align: center;
  color: black;
  -webkit-box-shadow: 9px 9px 17px 0px rgba(0, 0, 0, 0.67);
          box-shadow: 9px 9px 17px 0px rgba(0, 0, 0, 0.67);
}

.card__image {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rounded {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__body {
  padding: 0 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__body h3 {
  color: #08469e;
}

/*
============
FORM
============
*/

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#email {
  border: none;
  border-radius: 10px;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#email:focus {
  -webkit-box-shadow: 0px 0px 11px 0px rgb(244,243,244, 1);
  box-shadow: 0px 0px 11px 0px rgb(244,243,244, 1);
}

.btn {
  border: #08469e;
  border-radius: 10px;
  background-color: #08469e;
  color: white;
  font-family: "Concert One", cursive;
  font-size: 1.1em;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  padding: 0.6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}

.btn:hover {
  background-color: #052a5f;
}

/*
============
FOOTER
============
*/

footer {
  background-color: red;
  color: white;
  text-align: center;
  padding: 0.5em 0;
  margin-top: 4em;
}

.footer__link {
  color: white;
  -webkit-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}

.footer__link:hover {
  color: #08469e;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/*
============
MEDIA QUERIES
============
*/

@media screen and (min-width: 380px) {
  /*
  ============
  HEADER
  ============
  */

  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #header-img {
    padding-top: 0;
  }
}

@media screen and (min-width: 650px) {
  /*
  ============
  MAIN
  ============
  */
  
  main {
    background-image: url("https://thewallpaper.co//wp-content/uploads/2016/10/mario-wallpaper-hd-images-photos-hd-background-wallpapers-free-amazing-cool-smart-phone-4k-high-definition-1920x1080.jpg");
  }
  
  /*
  ============
  HEADER
  ============
  */

  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  #header-img {
    padding: 0.5em 0 0.5em 1.5em;
  }
}

@media screen and (min-width: 765px) {
  /*
  ============
  FORM
  ============
  */
  .btn {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    margin-top: 0;
    margin-left: 20px;
  }
}
